body,
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 600;
}

.title-super {
    font-size: 40px;
}

.text-thin {
    font-weight: 300;
}

.text-muted {
    color: #bcbbbb;
}

.img-responsive {
    width: 100%;
}

.title-logo {
    top: 20px;
}
